body {
  font-family: 'Press Start 2P', cursive;
  background-image: url('./resources/art-pxl-8bit-grafika-more-nebo-oblaka-pikseli.jpg');
  background-size: cover;
}

.App {
  text-align: center;
  height: 100vh;
}

.container {
  padding: 20px;
}

.defaultBtn {
  background-color: red;
  color: blue;
}

.hiddenBtn {
  display: none;
}

.square {
  background: white;
  border: 2px solid palevioletred;
  width: 50px;
  height: 50px;
  float: left;
}

.shipSquare {
  background: white;
  border: 2px solid palevioletred;
  width: 50px;
  height: 50px;
  float: left;
  background-image: url(./1597474-200.png);
  background-size: cover;
}
